python == 3.10.12 # To not have problems installing pytwoway
Cython==0.29.24
PyChest==0.1.2
bipartitepandas==0.3.0
pytwoway==0.5.1
ruptures==1.6.0
pandas==1.3.3
numpy==1.21.4
scikit-learn==0.24.2
warnings==0.1.3